
html, body{    
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: rgb(252, 231, 231);
    margin:10px;
}

.contenedor{
    display: flex;
    flex-direction: row;

}

.contenedor-lateral{
    background-color: #fff;
    width: 25%;
    height: 200px;
}

.contenedor-about-me{
    display: flex;
    flex-direction:column;   
    align-items: center;     
}

.nombre-user p {
    font-size: large;
}

#contenedor-img-perfil{
    margin-top:20px;
    margin-bottom: 10px;
}

#img-perfil{
    width: 120px;    
    overflow: hidden;
    border: 5px solid rgba(0,123,255,.25);
    border-radius: 50%;
}

#contenedor-content{
    background-color: #fff;
    margin-left: 15px;    
    width: 70%;
}